﻿@model IEnumerable<Clinic.Models.Schedule>

@{
    ViewData["Title"] = "Reports";
}

<div class="text-center">
    <form>
        <input type="date" name="from" value="@ViewBag.from"/>
        <input type="date" name="to" value="@ViewBag.to"/>
        <button type="submit">Generate report</button>
    </form>
    @foreach (KeyValuePair<DateTime, Schedule[]> element in ViewBag.schedules)
    {
        @if (element.Value.Length > 0)
        {
            <hr />
            <div>@element.Key.ToShortDateString()</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Doctor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndTime)
                        </th>
                        <th>
                            Appointments
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in element.Value)
                    {
                        <tr>
                            <td>
                                @item.Doctor.FullName
                            </td>
                            <td>
                                @item.StartTime
                            </td>
                            <td>
                                @item.EndTime
                            </td>
                            <td>
                                @ViewBag.appointmentsCount[item.Id] / @((int)(item.EndTime - item.StartTime).TotalMinutes / 15)
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
        }
    }
</div>
