﻿@model IEnumerable<Clinic.Models.Appointment>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
@if (ViewBag.specialities != null)
{
    <form>
        <div class="form-group">
            <label class="control-label">Speciality</label>
            <select class="form-control" asp-items="ViewBag.specialities" name="SpecialityId"></select>
        </div>
        <input type="submit" value="Search" />
    </form>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Doctor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        <form method="post" asp-action="Book" asp-route-id="@item.Id">
                            <button type="submit">
                                Book
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

