﻿@model IEnumerable<Clinic.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Appointments</h1>

@if (!(bool)ViewBag.user.IsDoctor)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<p>
    @if ((bool)ViewBag.history)
    {
        <a asp-action="Index">Index</a>
    } else
    {
        <a asp-action="Index" asp-route-history="true">History</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            @if ((bool)ViewBag.user.IsDoctor)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Patient)
                </th>
            }
            else
            {
                <th>
                    @Html.DisplayNameFor(model => model.Doctor)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if ((bool)ViewBag.user.IsDoctor)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.FullName)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.FullName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
     @*                @if ((bool)ViewBag.user.IsDoctor)
                    { *@
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit description</a>
    @*                 } else
                    { *@
                        @if (!(bool)ViewBag.history)
                        {
                            <form method="post" asp-action="Cancel" asp-route-id="@item.Id">
                                <button type="submit">Cancel</button>
                            </form>
                        }
                    @* } *@
                </td>
            </tr>
        }
    </tbody>
</table>
