﻿@model Clinic.Models.User

@{
    ViewData["Title"] = "Sign in";
}

<h1>Sign In</h1>

<hr />
@if ((bool)ViewData["afterSignUp"]!)
{
    <div class="alert alert-warning">
        Wait for system administrator to confirm your account.
    </div>
}

@if ((int)ViewData["error"]! == 400)
{
    <div class="alert alert-danger">
        Incorrect email or password.
    </div>
}

@if ((int)ViewData["error"]! == 450)
{
    <div class="alert alert-danger">
        Your account is inactive.
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="SignIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SignUp">Sign up</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
