﻿@model IEnumerable<Clinic.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Schedule</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="Index" method="get">
                <div class="form-group">
                    <label class="control-label">Date</label>
                    <input type="date" value=@ViewData["date"] name="date">
                    <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </form>
        </div>  

        <div class="col">
            <form asp-action="Copy" method="post">
                <b>Copy schedule</b>
                <div class="form-group">
                    <label class="control-label">From</label>
                    <input type="date" name="fromDay">
                    <label class="control-label">To</label>
                    <input type="date" value=@ViewData["date"] name="toDay">
                    <input type="submit" value="Copy" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
