﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if((bool)ViewData["IsAuthorized"]!){
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index" asp-route-showDoctors="true">Doctors</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Patients</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="Index">Schedule</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Index">Report</a>
    }
    else
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignIn">Sign In</a>
        <div>OR</div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignUp">Sign Up</a>
    }
</div>
