﻿@model IEnumerable<Clinic.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>List of @((bool)ViewData["showDoctors"]! ? "Doctors" : "Patients" )</h1>

@if((bool)ViewData["showDoctors"]!){
    <p>
        <a asp-action="Create">Create New Doctors account</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            @if ((bool)ViewData["showDoctors"]!)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Speciality)
                </th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if((bool)item.IsActive)
                {
                    <div>Activated</div>
                } else
                {
                    <form method="post" asp-action="Activate" asp-controller="Users" asp-route-id="@item.Id">
                        <button type="submit">Activate</button>
                    </form>
                }
            </td>
            @if ((bool) ViewData["showDoctors"]!)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality.Name)
                </td>
            }
            @if (!item.IsAdmin)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
